.env
/public/dsm/*
.idea
storage/*
composer.lock
resources/views/emails/facility/*
bootstrap/cache
.remote-sync.json
node_modules
.config.sh
vendor
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
build.modified.sh
supervisord.log
supervisord.pid